<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="!(loc.SoftwareName)" Language="!(loc.LANG)" Version="2.3" Manufacturer="!(loc.SoftwareManufacturer)" UpgradeCode="9c690479-3987-48a8-8bda-118ef1f93cdd">
    <Package InstallerVersion="400" Compressed="yes" InstallScope="perMachine" />
    <Condition Message="!(loc.AdminRightsRequired)">Privileged</Condition>
    <MajorUpgrade DowngradeErrorMessage="!(loc.NewerVersionInstalled)" />
    <MediaTemplate EmbedCab="yes" />

    <Binary Id="WiXCustomAction.CA.dll" SourceFile="$(var.WiXCustomAction.TargetDir)$(var.WiXCustomAction.TargetName).CA$(var.WiXCustomAction.TargetExt)" />

    <CustomAction Id="RemoveUserList" Return="check" Execute="immediate" BinaryKey="WiXCustomAction.CA.dll" DllEntry="RemoveUserList" />

    <InstallExecuteSequence>
      <Custom Action="RemoveUserList" After="StopServices" />
    </InstallExecuteSequence>
    
    <Feature Id="MakeMeAdmin" Title="[ProductName]" Level="1">
      <ComponentRef Id="ADMXFiles" />
      <ComponentRef Id="ADMLFiles" />
      <ComponentRef Id="EnumerationsLibrary" />
      <ComponentRef Id="ElevationUserInterface" />
      <ComponentRef Id="LsaLogonSessionLibrary" />
      <ComponentRef Id="Service" />
      <ComponentRef Id="LoggingLibrary" />
      <ComponentRef Id="SettingsLibrary" />      
      <ComponentRef Id="UserListLibrary" />
      <ComponentRef Id="ProcessCommunicationLibrary" />
      
      <Condition Level="0">INSTALLMAKEMEADMIN = "0"</Condition>
    </Feature>
    
    <Icon Id="SecurityLock.ico" SourceFile="..\Locked.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Locked.ico" />
    <Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />
    
    <Directory Id="TARGETDIR" Name="SourceDir">

      <!-- Create the structure in the appropriate Program Files folder. -->
      <?if $(var.Platform) = x64 ?>
        <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
      <?else ?>
        <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
      <?endif ?>
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="Pluralsight">
          <Component Id="ElevationUserInterface" Guid="562B228B-6029-457D-96C9-6B4BCA69660D">
            <File Id="ElevationUserInterfaceExe" Name="$(var.LocalUI.TargetFileName)" Source="$(var.LocalUI.TargetPath)" KeyPath="yes" />
            <Shortcut Id="LocalUserInferfaceShortcut" Directory="ProgramMenuFolder" Name="Privileges" Description="Privileges Local User Interface" Advertise="yes" WorkingDirectory="INSTALLDIR" Icon="SecurityLock.ico" IconIndex="0" />
          </Component>
          <Component Id="EnumerationsLibrary" Guid="D41B7874-D819-479B-9C90-248A1563FDA4">
            <File Id="EnumerationsDll" Name="$(var.Enumerations.TargetFileName)" Source="$(var.Enumerations.TargetPath)" KeyPath="yes" />
          </Component>
          <Component Id="SettingsLibrary" Guid="DFF604F6-F91A-4C6C-8582-91D698EAD179">
            <File Id="SettingsDll" Name="$(var.Settings.TargetFileName)" Source="$(var.Settings.TargetPath)" KeyPath="yes" />
          </Component>
          <Component Id="UserListLibrary" Guid="1255D767-16A2-4E90-98EF-A79BDEE38A57">
            <File Id="UserListDll" Name="$(var.UserList.TargetFileName)" Source="$(var.UserList.TargetPath)" KeyPath="yes" />
          </Component>
          <Component Id="LoggingLibrary" Guid="17760ABA-01B0-4E35-9AD8-3F168B171CCE">
            <File Id="LoggingDll" Name="$(var.Logging.TargetFileName)" Source="$(var.Logging.TargetPath)" KeyPath="yes" />
            <File Id="SyslogNetClientDll"  Source="$(var.Logging.TargetDir)\SyslogNet.Client.dll" KeyPath="no" />
          </Component>
          <Component Id="LsaLogonSessionLibrary" Guid="22E70C0A-7071-4E1D-B8C1-3E73FB3A1784">
            <File Id="LsaLogonSessionDll" Name="$(var.LsaLogonSessions.TargetFileName)" Source="$(var.LsaLogonSessions.TargetPath)" KeyPath="yes" />
          </Component>
          <Component Id="ProcessCommunicationLibrary" Guid="79FC2590-F4CD-4205-8283-3E604052224D" >
            <File Id="ProcessCommunicationDll" Name="$(var.ProcessCommunication.TargetFileName)" Source="$(var.ProcessCommunication.TargetPath)" KeyPath="yes" />
          </Component>
          <Component Id="Service" Guid="DE98A440-7542-4394-9CAB-086B2906D29A">
            <File Id="ServiceExe" Name="$(var.Service.TargetFileName)" Source="$(var.Service.TargetPath)" KeyPath="yes" />
            <ServiceInstall DisplayName="[ProductName]" Name="Privileges" Start="auto" Type="shareProcess" Vital="yes"
                            Description="!(loc.ServiceDescription)"
                            EraseDescription="no" ErrorControl="normal">

              <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart" ResetPeriodInDays="1" RestartServiceDelayInSeconds="60" />

              <!-- Add a dependency on the Server service. -->
              <ServiceDependency Group="no" Id="LanmanServer"/>
            </ServiceInstall>
            <ServiceControl Id="MakeMeAdmin" Name="Privileges" Remove="uninstall" Start="install" Stop="both" Wait="yes" />
            <RemoveRegistryKey Action="removeOnUninstall" Id="AddedSIDsValue" Key="Software\Pluralsight\Privileges" Root="HKLM" />
            <RemoveFolder Id="INSTALLFOLDER" On="uninstall" />
          </Component>
            
          <Directory Id="GroupPolicyFolder" Name="Group Policy">
            <Component Id="ADMXFiles" Guid="7DBE019F-9512-43DE-BB62-B6C3B83A90ED">
              <File Id="SinclairBase.admx" Source="GroupPolicy\SinclairBase.admx" KeyPath="yes" />
              <File Id="SinclairMakeMeAdmin.admx" Source="GroupPolicy\SinclairMakeMeAdmin.admx" />
            </Component>
            <Directory Id="GroupPolicyEnUSFolder" Name="en-US">
              <Component Id="ADMLFiles" Guid="D8D53E30-35CA-497E-8251-026E53AE74FE" KeyPath="yes">
                <File Id="SinclairBase.adml" Source="GroupPolicy\en-US\SinclairBase.adml" />
                <File Id="SinclairMakeMeAdmin.adml" Source="GroupPolicy\en-US\SinclairMakeMeAdmin.adml" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      
      <Directory Id="ProgramMenuFolder" Name="Programs" />
    </Directory>
  </Product>
</Wix>
